@using HealthPlus.Models
@model HealthPlus.Models.Doctor

@{
    ViewBag.Title = "Create";

}
@section design{
    <style>
    .b-box {
        margin: 26px 139px;
        background-color: aliceblue;
        padding: 41px;
        border: 1px steelblue;
        border-radius: 25px;
    }

    .bbt {
        width: 31%;
        margin-left: 21em;
    }

    .warning {
        /* color: red; */
        font-weight: 400;
        padding: 10px;
        border-radius: 9px;
        width: 28em;
        text-align: center;
        box-shadow: -1px 4px 1px 1px #34404c;
        margin-bottom: 11px;
    }

    .error {
        color: red;
    }
</style>
}

<div class="b-box">
    <center>
        @if (ViewBag.Message != null)
        {

            <div class="warning" style="background-color: #46e86d;" id="warningLabel">
                <label>@ViewBag.Message</label>
            </div>

        }
        
    </center>
    @using (Html.BeginForm("Edit", "DoctorAdmin", FormMethod.Post, new { name = "insertForm", id = "insertForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <center>
                <h4>Update Doctor Info</h4>
            </center><hr />
            @Html.ValidationSummary(true)

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <select name="CategoryId" class="form-control">
                        <option value="">Select Category</option>
                        @foreach (var v in ViewBag.DoctorCategory)
                        {
                            if (v.Id == Model.CategoryId)
                            {
                                <option value="@v.Id" selected="selected">@v.Title</option>
                                continue;
                            }
                            else
                            {
                                <option value="@v.Id">@v.Title</option>
                            }
                                
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input type="file" name="Image"/>
                    @Html.HiddenFor(model => model.Image, new {@Name="pastImage"})
                    @Html.ValidationMessageFor(model => model.Image)</div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Designation, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Designation)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Degree, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Degree)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Fees, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fees)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"> </div>
                @Html.LabelFor(model => model.Schedule, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td><label for="0">Sunday:</label></td>
                            <td><input id="0" type="checkbox" name="Schedule" value="0" @ViewBag.Schedule[0]/><br /></td>
                        </tr>
                        <tr>
                            <td><label for="1">Monday:</label></td>
                            <td><input id="1" type="checkbox" name="Schedule" value="1" @ViewBag.Schedule[1] /><br /></td>
                        </tr>
                        <tr>
                            <td><label for="2">Tuesday:</label></td>
                            <td><input id="2" type="checkbox" name="Schedule" value="2" @ViewBag.Schedule[2] /><br /></td>
                        </tr>
                        <tr>
                            <td><label for="3">Wednesday:</label></td>
                            <td><input id="3" type="checkbox" name="Schedule" value="3" @ViewBag.Schedule[3] /><br /></td>
                        </tr>
                        <tr>
                            <td><label for="4">Thursday:</label></td>
                            <td><input id="4" type="checkbox" name="Schedule" value="4" @ViewBag.Schedule[4] /><br /></td>
                        </tr>
                        <tr>
                            <td><label for="5">Friday:</label></td>
                            <td><input id="5" type="checkbox" name="Schedule" value="5" @ViewBag.Schedule[5] /><br /></td>
                        </tr>
                        <tr>
                            <td><label for="6">Saturday:</label></td>
                            <td><input id="6" type="checkbox" name="Schedule" value="6" @ViewBag.Schedule[6] /><br /></td>
                        </tr>
                        <tr>

                            <td>
                                <p class='elabel'></p>
                            </td>
                        </tr>
                    </table>



                </div>
            </div>

            <div class="form-group row">
                @*      <div class="col-md-4"></div>*@
                <div class="col-md-12" style="position: absolute; text-align: center;">
                    <input type="submit" value="Edit" style="width: 23%" class="btn btn-primary" />
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="text-align: center; margin-top: 27px;">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning bbt" })
                </div>
            </div>
            <div>

            </div>
        </div>
    }


</div>
@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#warningLabel").hide(1000).empty();
            }, 5000);
        });
        $("#insertForm").validate({
            rules: {
                Name: "required",
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 5
                },

                Designation: {
                    required: true

                },
                Degree: {
                    required: true,

                },

                Fees: {
                    required: true,
                    number: true
                },
                Schedule: "required",
                CategoryId: "required"
                
            },
            messages: {
                Name: "Please Enter Your Name",
                Email: {
                    required: "Please Enter Email id",
                    email: "Email id not correct"
                },
                Password: {
                    required: "Please Enter Password",
                    minlength: "Minimum length is 5"
                },
               
                Fees: {
                    required: "Please Enter A Fee Amount",
                    number: "Fee should not contain cahracter"
                },
                Degree: {
                    required: "Please Enter Doctor's Degrees",

                },
                Designation: "Please Enter Doctor's Designation",
                Schedule: "Please Select Schedule",
                CategoryId: "Please Select Category"

            },
            errorPlacement: function (error, element) {
                if (element.is(":checkbox")) {
                    error.appendTo(('.elabel'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }

        });
    </script>
}