@using HealthPlus.Models

@{
    ViewBag.Title = "Appointment";
    string isLogin;
    if (Session["PatientId"] == null)
    {
        isLogin = "-1";
    }
    else
    {
        isLogin = "1";
    }

}
@section design{
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    .container {
        padding: 35px;
        background-color: #f0ffffa3;
    }

    .ft-sz {
        font-size: 17px;
    }

    .ft-ss {
        font-size: 13px;
    }

    .warning {
        background-color: #008814;
        color: black;
        font-weight: 400;
        padding: 10px;
        border-radius: 9px;
        width: 28em;
        text-align: center;
        box-shadow: -1px 4px 1px 1px #bcc4cc;
        margin-bottom: 37px;
    }
</style>
    }

<div class="">
    <div class="himg">
        <img style="width: 100%; height: 28em;" src="~/Photos/treatment.jpg"/>
    </div>
    <div class="htext">
        <h2>Take your appointment</h2>
        Here you can find doctor and take an appointment at your suitable time.
    </div>
    <div class="hblur">

    </div>

</div>

<div class="container">
    <div class="row" style="padding: 30px;">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            @if (ViewBag.Message != null)
            {
                <div class="warning" id="warningLabel">
                    <label>Your Appointment Placed Successfully, You will be notified soon.</label>
                </div>
            }
            <form>
                <table>
                    <tr>
                        <td>
                            <label style="display: contents;" for="docCategory">
                                <b>Select a Category: </b>
                            </label>
                        </td>
                        <td>
                            <select id="docCategory" class="form-control">
                                <option value="">Select a category</option>
                                @foreach (DoctorCategory dc in ViewBag.Category)
                                {
                                    <option value="@dc.Id">@dc.Title</option>
                                }

                            </select>
                        </td>
                    </tr>
                </table>


            </form>
        </div>
    </div>
<div class="row docrow" id="drow">
    @foreach (Doctor doctor in ViewBag.Doctor)
    {
        <div class="col-md-3" style="margin-bottom: 36px;">
            @if (Session["PatientId"] == null)
            {
                 <div>
                    <img class="docimg" src="~/@doctor.Image"/>
                </div>
                <div style="visibility: hidden; height: 0;" id="Did">@doctor.Id</div>
                <div style="visibility: hidden; height: 0;" id="Dsc">@doctor.Schedule</div>
                    <div class="doctext">
                        <table>
                            <tr>
                                <th class="ft-sz">@doctor.Name</th>
                            </tr>
                            <tr class="ft-ss">
                                <td>@doctor.Designation</td>
                                
                            </tr>
                            <tr>
                                <td>@doctor.Degree</td>
                            </tr>
                            <tr>
                                <td>fees: @doctor.Fees </td>
                            </tr>
                        </table>
                        
                    </div>
            }
            else
            {
                <a href="" class="link" onclick='myFun("@doctor.Id","@doctor.Schedule")'>
                    <div>
                        <img class="docimg" src="~/@doctor.Image" />

                    </div>
                    <div style="visibility: hidden; height: 0;" id="Did">@doctor.Id</div>
                    <div style="visibility: hidden; height: 0;" id="Dsc">@doctor.Schedule</div>
                    <div class="doctext">
                        <table>
                            <tr>
                                <th class="ft-sz">@doctor.Name</th>
                            </tr>
                            <tr class="ft-ss">
                                <td>@doctor.Designation</td>

                            </tr>
                            <tr>
                                <td>@doctor.Degree</td>
                            </tr>
                            <tr>
                                <td>fees: @doctor.Fees </td>
                            </tr>
                        </table>

                    </div>
                </a>
            }
           @* <a class="link" href="">
                <div>
                    <img class="docimg" src="~/@doctor.Image"/>

                </div>
                <div style="visibility: hidden; height: 0;" id="Did">@doctor.Id</div>
                <div class="doctext">
                    <h2 class="ft-sz">@doctor.Name</h2>
                    <h6 class="ft-ss">@doctor.Designation</h6>
                    @doctor.Degree
                </div>
            </a>*@
        </div>
    }
</div>
<div class="row" id="dform">
    <div class="col-md-3" id="next">
        
    </div>
    <div class="col-md-9">
        <form method="POST" action="@Url.Action("TakeAppointment","Patient")">
            <div id="Dform">
                
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Select Date</label>
                <div class="col-sm-6">
                    <div class="input-group date">
                        <input id="datetime" type="text" name="Date" class="form-control" autocomplete="off">
                        <span class="input-group-addon" style="background-color: gainsboro;">
                        <i class="fa fa-calendar" style="padding: 10px;"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Select Session</label>
                <div class="col-sm-6">
                    <select id="docCategory"  name="Session" class="form-control">
                        <option value="">Select Session</option>
                        <option value="1">Morning ( 08:00AM-01:00PM)</option>
                        <option value="2">Afternoon ( 03:00PM-06:00PM)</option>
                        <option value="3">Evening (7:00PM-10:00PM)</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Patient's Problem</label>
                <div class="col-sm-6">
                    <textarea name="Note" placeholder="Enter Your Note About Patient" style="width: 24em; height: 108px; margin-top: 0px; margin-bottom: 0px;"></textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <button style="width: 100%;" type="submit" class="btn btn-primary">Request Appointment</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <button id="back" style="width: 100%;" type="submit" class="btn btn-warning">Go Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
    
</div>
@section scripts{
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        var dateindex = [0,1,2,3,4,5,6];
        var datelimit="\"";
        function removeElement(array, elem) {
            var index = array.indexOf(elem);
            if (index > -1) {
                array.splice(index, 1);
            }
        }

        function myFun(k, kl) {
            var dateindex = [0, 1, 2, 3, 4, 5, 6];
            var datelimit = "\"";
            console.log(k);
            console.log(kl);
            $(document).on('click', '.link', function (e) {
                $('#next').empty();
                /*var k = $('#Did').text();
                var kl = $('#Dsc').text();*/
                var newdate = dateindex;
                var i;
                for (i = 0; i < kl.length; i++) {
                    if (kl[i] !== ',') {
                        console.log(parseInt(kl[i]));
                        removeElement(newdate, parseInt(kl[i]));
                    }
                }
                for (i = 0; i < newdate.length-1; i++) {
                    datelimit = datelimit + newdate[i].toString()+",";
                }
                datelimit = datelimit + newdate[i].toString();
                datelimit = datelimit + "\"";
                
                var asiaTime = new Date().toLocaleString("en-US", { timeZone: "Asia/Dhaka" });
                var date = new Date(asiaTime);
                date.setDate(date.getDate());
                console.log(datelimit);
                $("#datetime").datepicker("destroy");
                $('#datetime').datepicker({
                    startDate: date,
                    endDate: '+10d',
                    todayBtn: "linked",
                    daysOfWeekDisabled: datelimit,
                    todayHighlight: true
                });
                $("#Dform").empty();
                $('#Dform').append('<input type="hidden" name="DoctorId" value="' + k + '"/>' +
                    '<input type="hidden" name="sid" value="' + kl + '"/>');
                $('#next').append($(this).html());
                $('#dform').show();
                $('#drow').hide();
                return false;

           });
        }
        $(document).ready(function () {
            setTimeout(function () {
                $("#warningLabel").hide(1000).empty();
            }, 5000);
            


            
            

            
            $('#back').on('click', function () {
                $('#dform').hide();
                $('#drow').show();
                return false;
            });

            /*$('.link').on('click', function () {
                var k = $('#Did').text();
                var kl = $('#Dsc').text();
                console.log(kl);
                var newdate = dateindex;
                var i;
                for (i = 0; i < kl.length; i++) {
                    if (kl[i] !== ',') {
                        console.log(parseInt(kl[i]));
                        removeElement(newdate, parseInt(kl[i]));
                    }
                }
                
                for (i = 0; i < newdate.length-1; i++) {
                    datelimit = datelimit + newdate[i].toString() + ",";
                    console.log(parseInt(kl[i]));
                }
                datelimit = datelimit + newdate[i].toString() ;
                datelimit=datelimit+"\"";
                var asiaTime = new Date().toLocaleString("en-US", { timeZone: "Asia/Dhaka" });
                var date = new Date(asiaTime);
                date.setDate(date.getDate());
                $("#datetime").datepicker("destroy");
                console.log(date);
                console.log(datelimit);
                $('#datetime').datepicker({
                    startDate: date,
                    endDate: '+10d',
                    todayBtn: "linked",
                    daysOfWeekDisabled: datelimit,
                    todayHighlight: true
                });
                // $("#add").val('');
                $('#next').empty();
                $("#Dform").empty();
                $('#Dform').append('<input type="hidden" name="DoctorId" value="' + k + '"/>' +
                    '<input type="hidden" name="sid" value="' + kl + '"/>');
               
                console.log(k);
                $('#next').append($(this).html());
                $('#dform').show();
                $('#drow').hide();
                return false;
            });*/
            $('#dform').hide();

            $('#docCategory').on('change', function () {
                $('#dform').hide();
                $('#drow').show();
                var docId = $('#docCategory').val();
                if (docId === null)
                    reload();
                console.log(docId);
                $('#drow').empty();
               
                var json = { id: docId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllDocById", "Primary")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (response) {
                       
                        $.each(response, function (key, value) {
                            if ("@isLogin" === "-1") {
                                $('#drow').append('<div class="col-md-3" style="margin-bottom: 36px;">' +
                                    '<div><img class="docimg" src="/'+value.Image+'"/>' +
                                    '</div><div style="visibility: hidden; height: 0;" id="Did">'+value.Id+'</div><div style="visibility: hidden; height: 0;" id="Dsc">'+value.Schedule+'</div>'+
                                    '<div class="doctext"><table><tr><th class="ft-sz">'+value.Name+'</th></tr>'+
                                    '<tr class="ft-ss">'+
                                    '<td>'+value.Designation+'</td>'+
                                    '</tr><tr><td>'+value.Degree+'</td></tr><tr>'+
                                    '<td>fees:'+ value.Fees +'</td></tr> </table></div>');
                            
                            
                            } 
                            else {
                                $('#drow').append(
                                    '<div class="col-md-3" style="margin-bottom: 36px;">' +
                                    '<a class="link" href="">'+
                                    '<div><img class="docimg" src="/'+value.Image+'"/>' +
                                    '</div><div style="visibility: hidden; height: 0;" id="Did">'+value.Id+'</div><div style="visibility: hidden; height: 0;" id="Dsc">'+value.Schedule+'</div>'+
                                    '<div class="doctext"><table><tr><th class="ft-sz">'+value.Name+'</th></tr>'+
                                    '<tr class="ft-ss">'+
                                    '<td>'+value.Designation+'</td>'+
                                    '</tr><tr><td>'+value.Degree+'</td></tr><tr>'+
                                    '<td>fees: '+value.Fees+' </td></tr> </table></div>');
                            
                            
                            }
                            
                            
                        });
                    }
                });
            });
           
        });

    </script>
}