@using System.Drawing.Printing
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/Photos/favicon.ico"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> HealtPlus+</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <style>

        </style>
</head>
<body>
<div style="background-color: #d6dee4; margin-right: 0px;" class="row gone">
    <div class="col-md-1"></div>
    <div class="col-md-3" style="margin-right: -104px;">
        <i class=" fa fa-address-book">
        </i>
        <b>Emergency: </b>01755001451
    </div>
    <div class="col-md-2">
        <span class="fa fa-envelope"></span>
        refatkhan93@gmail.com
    </div>
    <div class="col-md-4"></div>

    <div class="col-md-2">
        <span class="fa fa-map-marker"></span>
        BGCMed,Chittagong
    </div>
</div>
<nav style="background-color: #34404c;" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand myclass animated jello" href="#">
        <i style="font-size: 47px;"class="logo fa fa-stethoscope"></i>
        Healt Plus
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="menual collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        @if (Session["PatientId"] == null && Session["DoctorId"]==null && Session["ReceptionistId"]==null)
        {
        <div class="navbar-nav">
            <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index","Primary")">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link  @ViewBag.Appointment" href="@Url.Action("Appointment", "Primary")">Doctor</a>
            <a class="nav-item nav-link @ViewBag.Emergency" href="#">Emergency</a>
            <a class="nav-item nav-link @ViewBag.Contact" href="#">Contact</a>
            <a class="nav-item nav-link  @ViewBag.Login" href="@Url.Action("Login","Authentication")">Login</a>
            <a class="nav-item nav-link  @ViewBag.Register" href="@Url.Action("Register","Authentication")">Register</a>
        </div>
        }
        @if (Session["PatientId"] != null)
        {
            <div class="navbar-nav">
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index","Primary")">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link  @ViewBag.Appointment" href="@Url.Action("Appointment", "Primary")">Appointment</a>
                <a class="nav-item nav-link @ViewBag.Emergency" href="#">Emergency</a>
                <a class="nav-item nav-link @ViewBag.Contact" href="#">Contact</a>
                <a class="nav-item nav-link  @ViewBag.PatientProfile" href="@Url.Action("Profile", "Patient")">Profile</a>
                <a class="nav-item nav-link " href="@Url.Action("PatientLogout","Authentication")">Logout</a>
            </div>
        }
        @if (Session["DoctorId"] != null)
        {
            <div class="navbar-nav">
                <a class="nav-item nav-link @ViewBag.Index" href="Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link  @ViewBag.Doctor" href="Doctor">Doctor</a>
                <a class="nav-item nav-link @ViewBag.Emergency" href="#">Emergency</a>
                <a class="nav-item nav-link @ViewBag.Contact" href="#">Contact</a>
                <a class="nav-item nav-link  @ViewBag.DoctorProfile" href="DoctorProfile">Profile</a>
                <a class="nav-item nav-link " href="DoctorLogout">Logout</a>
                
            </div>
        }
        @if (Session["ReceptionistId"] != null)
        {
            <div class="navbar-nav">
                <a class="nav-item nav-link @ViewBag.Index" href="@Url.Action("Index","Primary")">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link  @ViewBag.AppointmentSchedule" href="@Url.Action("AppointmentSchedule", "Receptionist")">Appointment Schedule</a>
                <a class="nav-item nav-link @ViewBag.Contact" href="#">Contact</a>
                <a class="nav-item nav-link  @ViewBag.Report" href="@Url.Action("Report", "Receptionist")">Report</a>
                <a class="nav-item nav-link  @ViewBag.Report" href="@Url.Action("ReceptionistProfile", "Receptionist")">Profile</a>
                <a class="nav-item nav-link " href="@Url.Action("ReceptionistLogout","Authentication")">Logout</a>
                
            </div>
        }

    </div>
</nav>

<div class="body-content">
    @RenderBody()
    <hr/>


</div>
<footer class="footer row">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> About the company</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
            ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
        </p>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Street name and number</span> City, Country
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p> (+00) 0000 000 000</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> office@company.com</a>
            </p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <h2> Company<span> logo</span></h2>
        <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> About</a> |
            <a href="#"> Services</a> |
            <a href="#"> Portfolio</a> |
            <a href="#"> News</a> |
            <a href="#"> Contact</a>
        </p>
        <p class="name"> Company Name &copy; 2016</p>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)


</body>
</html>

